<div class="page-header row with-tabs">
  <h1>Application: <%= @core_application.name %></h1>

  <ul class="tabs" data-tabs="tabs">
    <li class="active"><a href="#domain_rules">Domain rules</a></li>
    <li><a href="#path_rules">Path rules</a></li>
    <li><a href="#backends">Backends</a></li>
  </ul>
</div>

<div class="tab-content">

  <div id="domain_rules" class="row active">
    <%= render 'http/domain_rules/list', http_domain_rules: @core_application.http_domain_rules %>
  </div>

  <div id="path_rules" class="row">
    <%= render 'http/path_rules/list', http_path_rules: @core_application.http_path_rules %>
  </div>

  <div id="backends" class="row">
    <%= render 'http/backends/list', http_backends: @core_application.http_backends %>
  </div>

</div>


<p id="notice"><%= notice %></p>
