<div class="page-header row with-tabs">

  <%= breadcrumb([
    ['Applications', core_applications_path],
    [@core_application.name, @core_application]
  ]) %>

  <div class="row">
    <div class="span10">
      <h1>Application: <%= @core_application.name %></h1>
    </div>
    <div class="span4">
      <%= link_to 'Edit', edit_core_application_path(@core_application), class: 'btn large primary' %>
      <%= link_to 'Bust Cache', cache_core_application_path(@core_application), class: 'btn large danger', method: :delete %>
    </div>
  </div>

  <ul class="tabs" data-tabs="tabs">
    <li class="active"><a href="#releases">Releases</a></li>
    <li class="dropdown" data-dropdown="dropdown">
      <a href="#" class="dropdown-toggle">Pluto</a>
      <ul class="dropdown-menu">
        <li><a href="#environment_variables">Environment Variables</a></li>
      </ul>
    </li>
    <li class="dropdown" data-dropdown="dropdown">
      <a href="#" class="dropdown-toggle">HTTP</a>
      <ul class="dropdown-menu">
        <li><a href="#domain_rules">Domain rules</a></li>
        <li><a href="#path_rules">Path rules</a></li>
        <li><a href="#backends">Backends</a></li>
      </ul>
    </li>
  </ul>
</div>

<div class="tab-content">

  <div id="releases" class="row active">
    <%=
      render 'core/releases/list',
        core_releases: @core_application.core_releases
    %>
  </div>

  <div id="environment_variables" class="row">
    <%=
      render 'pluto/environment_variables/list',
        pluto_environment_variables: @core_application.resolved_pluto_environment_variables
    %>
  </div>

  <div id="domain_rules" class="row">
    <%=
      render 'http/domain_rules/list',
        http_domain_rules: @core_application.http_domain_rules
    %>
  </div>

  <div id="path_rules" class="row">
    <%=
      render 'http/path_rules/list',
        http_path_rules: @core_application.resolved_http_path_rules
    %>
  </div>

  <div id="backends" class="row">
    <%=
      render 'http/backends/list',
        http_backends: @core_application.http_backends
    %>
  </div>

</div>


<p id="notice"><%= notice %></p>
