<h1>Listing pluto_process_instances</h1>

<table>
  <tr>
    <th>Pluto process defini<Down>tion</th>
    <th>Core machine</th>
    <th>Instance</th>
    <th>Running since</th>
    <th>Down since</th>
    <th>State</th>
    <th>Last seen at</th>
    <th>Requested state</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pluto_process_instances.each do |pluto_process_instance| %>
  <tr>
    <td><%= pluto_process_instance.pluto_process_definition_id %></td>
    <td><%= pluto_process_instance.core_machine_id %></td>
    <td><%= pluto_process_instance.instance %></td>
    <td><%= pluto_process_instance.running_since %></td>
    <td><%= pluto_process_instance.down_since %></td>
    <td><%= pluto_process_instance.state %></td>
    <td><%= pluto_process_instance.last_seen_at %></td>
    <td><%= pluto_process_instance.requested_state %></td>
    <td><%= link_to 'Show', pluto_process_instance %></td>
    <td><%= link_to 'Edit', edit_pluto_process_instance_path(pluto_process_instance) %></td>
    <td><%= link_to 'Destroy', pluto_process_instance, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Process instance', new_pluto_process_instance_path %>
