<p id="notice"><%= notice %></p>

<p>
  <b>Path:</b>
  <%= @http_path_rule.path %>
</p>

<p>
  <b>Actions:</b>
  <%= @http_path_rule.actions %>
</p>


<%= link_to 'Edit', edit_http_path_rule_path(@http_path_rule) %> |
<%= link_to 'Back', http_path_rules_path %>
