<p id="notice"><%= notice %></p>

<p>
  <b>Owner:</b>
  <%= @pluto_environment_variable.owner_id %>
</p>

<p>
  <b>Owner type:</b>
  <%= @pluto_environment_variable.owner_type %>
</p>

<p>
  <b>Name:</b>
  <%= @pluto_environment_variable.name %>
</p>

<p>
  <b>Value:</b>
  <%= @pluto_environment_variable.value %>
</p>


<%= link_to 'Edit', edit_pluto_environment_variable_path(@pluto_environment_variable) %> |
<%= link_to 'Back', pluto_environment_variables_path %>
