<p id="notice"><%= notice %></p>

<p>
  <b>Core application:</b>
  <%= @http_domain_rule.core_application_id %>
</p>

<p>
  <b>Domain:</b>
  <%= @http_domain_rule.domain %>
</p>

<p>
  <b>Actions:</b>
  <%= @http_domain_rule.actions %>
</p>


<%= link_to 'Edit', edit_http_domain_rule_path(@http_domain_rule) %> |
<%= link_to 'Back', http_domain_rules_path %>
