<!DOCTYPE html>
<html>
<head>
  <title>Alice</title>
  <%= stylesheet_link_tag    "application" %>
  <%= csrf_meta_tags %>
  <%= render 'ember/templates' %>
</head>
<body>

<%= yield %>
<%= javascript_include_tag "application" %>

</body>
</html>
